.search{
    background-color: #2f2f2f;  
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 25px auto;
    padding: 10px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.search:focus{
    border:1px solid rgb(70, 60, 200);
    outline: none;
  }